<h1>Nova matricula </h1>

<%= form_for @matricula, :url => {:action => :create} do |form| %>
    <table>
        <tr>
            <td>
                    <%= form.label :valor_total_do_curso%>
            </td>
            <td>
                    <%= form.text_field :valor_total_do_curso %>
            </td>
        </tr>
        <tr>
            <td>
                    <%= form.label :quantidade_de_faturas%>
            </td>
            <td>
                    <%= form.text_field :quantidade_de_faturas %>
            </td>
        </tr>
        <tr>
            <td>
                    <%= form.label :dia_de_vencimento_das_faturas %>
            </td>
            <td>
                    <%= form.text_field :dia_de_vencimento_das_faturas %>
            </td>
        </tr>
        <tr>
            <td>
                    <%= form.label :nome_do_curso %>
            </td>
            <td>
                    <%= form.text_field :nome_do_curso %>
            </td>
        </tr>
        <tr>
            <td>
                    <%= form.label :instituicao_id %>_id
            </td>
            <td>
                    <%= form.text_field :instituicao_id %>
            </td>
        </tr>
        <tr>
            <td>
                    <%= form.label :aluno_id %>_id
            </td>
            <td>
                    <%= form.text_field :aluno_id %>
            </td>
        </tr>

        <tr>
            <td>
                <%= form.submit "Cadastrar"%>
            </td>
            <td>
            <%= link_to "Voltar", "../matricula"%>
            </td>
        </tr>

    </table>
<% end %>