<html lang="pt">
<head>
  <title>Alunos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <div class="container mt-3">
    <center>
        <h2>Alunos</h2>
        <p>Tabela de alunos cadastrados:</p>   
    </center>         
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Data de nascimento</th>
            <th>Telefone celular</th>
            <th>Genero</th>
            <th>Meio de pagamento escolhido</th>
            <th>Matriculas</th>
            <th>Ação</th>
        </tr>
        </thead>
        <tbody>
            <% @alunos.each do |aluno| %>
            <tr>
                <td>
                    <%= aluno.id %>
                </td>
                <td>
                    <%= aluno.nome %>
                </td>
                <td>
                    <%= aluno.cpf %>
                </td>
                <td>
                    <%= aluno.data_de_nascimento.strftime ("%d/%m/%Y") %>
                </td>
                <td>
                    <%= aluno.telefone_celular %>
                </td>
                <td>
                    <%= aluno.genero %>
                </td>
                <td>
                    <%= aluno.meio_de_pagamento %>
                </td>
                <td>
                    <%= link_to "Acessar matriculas", "aluno/#{aluno.id}/matricula" %>
                </td>
                <td>
                    <%= link_to  "Excluir Aluno", "aluno/#{aluno.id}/destroy"%>
                </td>
            </tr> 
            <% end %>
        </tbody>
    </table>
    </div>

</body>

<center>
<button class="btn btn-outline-dark">
    <%= link_to "Cadastrar Aluno", new_aluno_path %>
</button>
<button class="btn btn-outline-dark">
    <%= link_to "Voltar", billinho_path %>
</button>
</center>