# <h1><%= @aluno.nome.capitalize %></h1>
# <table>
#     <tr>
#         <td>
#             CPF:
#         </td>
#         <td>
#             <%= @aluno.cpf %>
#         </td>
#     </tr>    
#     <tr>
#         <td>
#             Data de nascimento:
#         </td>
#         <td>
#             <%= @aluno.data_de_nascimento.strftime ("%m/%d/%Y") %>
#         </td>
#     </tr>
#     <tr>
#         <td>
#             Telefone celular:
#         </td>
#         <td>
#             <%= @aluno.telefone_celular %>
#         </td>
#     </tr> 
#     <tr>
#         <td>
#             Genero:
#         </td>
#         <td>
#             <%= @aluno.genero %>
#         </td>
#     </tr> 
#     <tr>
#         <td>
#             Meio de pagamento escolhido:
#         </td>
#         <td>
#             <%= @aluno.meio_de_pagamento %>
#         </td>
#     </tr> 
#     <tr>
#         <td>
#             <%= link_to "Voltar", aluno_index_path%>
#         </td>
#     </tr>
# </table>