<h1>Cadastrar Instituição</h1>

<%= form_for @instituicao, :url => {:action => :create} do |form| %>
    <% if @instituicao.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@instituicao.errors.count, "Erro") %> de cadastro:</h2>
            <ul>
                <% @instituicao.errors.each do |error| %>
                <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <table>
        <tr>
            <td>
                    <%= form.label :nome%>
            </td>
            <td>
                    <%= form.text_field :nome %>
            </td>
        </tr>
        <tr>
            <td>
                    <%= form.label :cnpj%>
            </td>
            <td>
                    <%= form.text_field :cnpj %>
            </td>
        </tr>
        <tr>
            <td>
                    <%= form.label :tipo%>
            </td>
            <td>
                    <%= form.radio_button :tipo, "Universidade" %> Universidade
                    <%= form.radio_button :tipo, "Escola" %> Escola
                    <%= form.radio_button :tipo, "Creche" %> Creche
            </td>
        </tr>
        <tr>
            <td>
                <%= form.submit "Cadastrar"%>
            </td>
            <td>
            <%= link_to "Voltar", instituicao_index_path %>
            </td>
        </tr>

    </table>
<% end %>